
/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
    padding-bottom: 12px;
}

textarea 
{
    min-height: 50px;
    max-height: 200px;
    min-width: 99.5%;
    max-width: 900px;
    height: 196px;
}

.editor-label 
{
    margin: 1em 0 0 0;
    font-weight:bold;
}

.editor-field 
{
    margin:0.5em 0 0 0;
    padding-bottom:1.4em;
    width: 100%;
}

/*
* Forms
*/
.form-title
{
	font:bold;
	font-size: 22px;
	font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
	color: #3D9AD1;
	
}

.primaryBtn input
{
    line-height: 18px;
    min-width: 150px;
    background: -moz-linear-gradient(center top , #33A0E8, #2180CE) repeat scroll 0 0 transparent;
    border-color: #2270AB #18639A #0F568B;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 0 #83C5F1 inset;
    color: #FFFFFF;
    text-shadow: 0 1px 2px #355782;
    
}

.primaryBtn a {
    border: 1px #83a8a7 solid;
    background: url(../images/bkBtnFade.png) repeat-x #EA0000;
    color: #ffffff;
    font-weight: bold;
    font-size: 107.7%;
    padding: 4px 30px;
    text-align: center;
    display: block;
}

.secondaryBtn input {
    background: url(../images/bkBtnFade.png) repeat-x #e1e1e1;
    border: 1px #e1e1e1 solid;
    color: #024995;
}

.secondaryBtn
{
    background: url(../images/bkBtnFade.png) repeat-x #99CC33;
    border: 1px #e1e1e1 solid;
    color: #000000;
    position: relative;
    float: right;
   margin-top: 30px; margin-bottom: 10px; margin-right: -10px;
}

.secondaryBtn a
{
    background: url(../images/bkBtnFade.png) repeat-x #e1e1e1;
    border: 1px #d9d9d9 solid;
    color: #2191C0;
    font-weight: bold;
    padding: 4px 30px;
    text-align: center;
    display: block;
}

p select {
    font-size: 100%;
}

.required {
    color: #cc0001;
}

.innerFormPara {
    font-size: 81.2% !important;
    padding-bottom: 5px;
}

.confirm {
    padding-bottom: 5px;
}

form p {
    font-size: 87.5%;
}

label {
    padding-right: 11px;
    color: #252525;
}

.mandatory
{
    /*vertical-align: middle;*/
    color: #0073EA;
    text-align: justify;
    width: 350px;
}

.mandatoryMedium
{
    /*vertical-align: middle;*/
    color: #cc0000;
    text-align: justify;
    width: 175px;
}

.mandatoryShort
{
    /*vertical-align: middle;*/
    color: #cc0000;
    text-align: justify;
    width:20px;
}

.nonMandatory
{
    /*vertical-align: middle;*/
    color: #FFFFF0;
    text-align: justify;
    width: 350px;
}

input[type="text"] 
{
    border: 1px solid #BFBFBF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 0 #000000, 0 3px 3px #EEEEEE inset;
    font-size: 16px;
    padding: 5px;
    height: 24px;
}

input[type="checkbox"] 
{
    border: 1px solid #BFBFBF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 0 #000000, 0 3px 3px #EEEEEE inset;
    
}

 #profilePicture
{
    border: 1px solid #BFBFBF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 0 #000000, 0 3px 3px #EEEEEE inset;
    font-size: 12px;
    padding: 5px;
    width: 561px;
    color: #cc0000;
    text-align: justify; 
    height: 24px;
    position: absolute;
}

input[type="file"]
{
	border: 1px solid #BFBFBF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 0 #000000, 0 3px 3px #EEEEEE inset;
    font-size: 16px;
    padding: 5px;
    height: 24px;
    width: 200px;
}

#Location
{
    width: 750px;
}

input[type="password"] {
    border: 1px solid #BFBFBF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 0 #000000, 0 3px 3px #EEEEEE inset;
    font-size: 16px;
    padding: 5px;
    width: 350px;
    height: 24px;
}

input[type="submit"] {
    font-family: tahoma, sans-serif;
    font-weight: bold;
    padding: 2px 30px;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: bold;
}

select {
	width: 260px;
	border: 1px solid #BFBFBF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 0 #000000, 0 3px 3px #EEEEEE inset;
    font-size: 16px;
    height: 24px;
    padding: 5px;
    height: 30px
}

select[multiple="multiple"] {
	width: 260px;
	border: 1px solid #BFBFBF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 0 #000000, 0 3px 3px #EEEEEE inset;
    font-size: 16px;
    height: 24px;
    padding: 5px;
    height: 100px
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error-left
{ 
    background-color: #FFF1F1;
    border: 1px solid #9E0016;
    border-radius: 3px 3px 3px 3px;
    color: #9E0016;
    float: right;
    font-size: 12px;
    height: 20px;
    padding: 7px 5px;
    position: absolute;
    text-align: left;
    vertical-align: middle;
}

.field-validation-error-left-21 {
    background-color: #FFF1F1;
    border: 1px solid #9E0016;
    border-radius: 3px 3px 3px 3px;
    color: #9E0016;
    float: right;
    font-size: 12px;
    height: 20px;
    left: -22.0%;
    padding: 7px 5px;
    position: absolute;
    text-align: left;
    vertical-align: middle;
}

.field-validation-error-left-tarea {
     background-color: #FFF1F1;
    border: 1px solid #9E0016;
    border-radius: 3px 3px 3px 3px;
    color: #9E0016;
    float: right;
    font-size: 12px;
    height: 20px;
    left: -17.7%;
    padding: 7px 5px;
    position: absolute;
    text-align: left;
    top: 230px;
    vertical-align: middle;
}

.field-validation-error-right
{ 
    background-color: #FFF1F1;
    border: 1px solid #9E0016;
    border-radius: 3px 3px 3px 3px;
    color: #9E0016;
    float: left;
    font-size: 12px;
    height: 20px;
    padding: 7px 5px;
    position: absolute;
    right: 40%;
    text-align: left;
    vertical-align: middle;
}

.field-validation-error-v2
{ 
    background-color: #FFF1F1;
    border: 1px solid #9E0016;
    border-radius: 3px 3px 3px 3px;
    color: #9E0016;
    position: relative;
    font-size: 10px;
    height: 20px;
    padding: 7px 5px;
    text-align: left;
    vertical-align: middle;
    white-space:pre;
    width: 30%;
    display: block;
}

.bubble-arrow {
    border-color: transparent transparent transparent #FFF1F1;
    border-style: solid;
    border-width: 6px;
    height: 0;
    position: absolute;
    right: -11px;
    top: 10px;
    width: 0;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
    background: url(../images/bkErrorAlert.png) 0px 0px no-repeat;
    padding: 2px 0px 0px 24px;
    font-size: 95%;
     display: block;
    clear: both;
}

.validation-summary-valid
{
    display: none;
}

.location 
{
    width: 450px;
}

.integerTextbox 
{
    width: 30px;
}



