/*
	MAIN HOLDING DIVs
*/

#canvas {
	width: 100%;
	height: 100%;
}

#pageWrap {
	width: 980px;
}

.contain {
	display: block;
}

.coreContentHolderTop {
	padding-top: 11px;
}

.coreContentHolder {
	padding: 0px 7px;
}

.contentHolderBtm {
	padding-bottom: 52px;
}

.siteContent {
	padding-top: 50px;
	width: 47%;
	float: left;
	min-height: 300px;
}

.tempTwo {
	padding-left: 247px;
}

.coreContent {
	vertical-align: middle;
		min-height:300px;
}

.topBarContent {
	width: 100%;
	float: left;
}

.splash {
	float: left;
	width: 40%;
	margin-bottom: auto;
	margin-top: 110px;
	margin-left: auto;
	padding: 0;
}

.form {
	float: right;
	margin-right: auto;
	padding: 0;
}

.formLeft {
	float: left;
	width: 40%;
	margin-top: 30px;
	margin-right: auto;
	padding: 0;
}

.formRight {
	float: right;
	width: 40%;
	margin-bottom: auto;
	margin-top: 82px;
	margin-left: auto;
	padding: 0;
}

#topBarEvents {
	width: 100%;
	float: left;
}

.tableBody {
	overflow: auto;
	height: 290px;
}

#rightContentEvents {
	float: right;
	width: 80%;
}


.sideBar {
	padding-top: 50px;
	width: 48%;
	float: left;
	min-height: 300px;
	 margin-right: 40px;
}

#sideBarCalendar {
	width: 230px;
	float: left;
	display: inline;
}

.sideBarBorder {
	border: 1px #d5d5d5 solid;
	padding: 0px 1px 1px 1px;
	background: #ffffff;
	border-top: none;
}

.sideBarContent {
	border: 0px #494437 solid;
	min-height:300px;
}

.section {
	border-bottom: 1px #e5e5e5 solid;
	padding: 0px 8px;
}

.sideBarBorder .last {
	border: none;
}

.header {
	padding: 80px 7px 0px 6px;
	height: 20%;
	width: 980px;
}

.body {
	padding: 10px 10px 10px 10px;
	height: 60%;
	min-height: 60%;
}

#locationTable {
	border: 0px solid #808080;
	margin-top: 0px;
}

#locationTable th {
	border: 0px solid #808080;
	min-width: 250px;
	margin-top: 5px;
	background-color: #6EAC2C;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 10px;
}

.locationHeaderTable {
	border: 0px solid #808080;
	min-width: 250px;
	width: 250px;
}

.locationHeaderTable th {
	border: 0px solid #808080;
	margin-top: 5px;
	background-color: #6EAC2C;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 10px;
}

#locationTable td {
	border-bottom: 1px solid #808080;
	margin-top: 5px;
	font-size: 10px;
}

.data-table table {
	table-layout: auto;
	border-spacing: 1px;
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: black;
	border-collapse: collapse;
	background-color: rgb(255, 250, 250);
	width: 100%;
}

.data-table table th {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: black;
	background-color: #6EAC2C;
	color: #ffffff;
}

.data-table table td {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: black;
	background-color: white;
}
/*
 * Header
 */
.logo {
	padding: 0px 0px 0px 0px;
	float: left;
	width: 100px;
	height: 30px;
	position: absolute;
	top: 30px;
}

#topBar.menu { /*background-color: #6eac2c;*/
	height: 82px;
	position: absolute;
	width: 980px;
	z-index: -1;
	border-bottom: 1px solid #E5E5E5;
}

#logon {
	position: relative;
}

#register {
	position: relative;
}

.logInTools {
	position: absolute;
	width: auto;
	height: 41px;
	right: 28%;
	top: 10px;
}

.logInTools form {
	position: absolute;
	top: 0px;
	left: 0px;
}

.logInTools label {
	color: #ffffff;
	vertical-align: 35%;
	line-height: 10px;
}

.logInTools input[type="text"] {
	border: none;
	color: #959595;
	width: 160px;
	height: 18px;
	position: absolute;
	left: 25px;
	top: 20px;
	font-size: 9.5px;
	font-weight: bold;
	color: #000000;
}

.logInTools input[type="password"] {
	border: none;
	color: #959595;
	width: 160px;
	height: 18px;
	position: absolute;
	left: 195px;
	top: 20px;
	font-size: 9px;
	font-weight: bold;
	color: #000000;
}

.logInTools .loginbutton {
	position: absolute;
	width: 50px;
	right: -150px;
	top: 57px;
	font-size: 100%;
	color: #000000;
	font-weight: bold;
	height: 15px;
}

.logInTools .registerbutton {
	position: absolute;
	width: 50px;
	right: -90px;
	top: 57px;
	font-size: 100%;
	color: #000000;
	font-weight: bold;
	height: 15px;
}

.logInTools input[type="submit"] {
	color: #FFFFFF;
	background-color: #EA0000;
	font-weight: bold;
	width: 50px;
	height: 20px;
}

.logInTools .usernametext {
	border: 1px;
	color: #959595;
	width: 120px;
	height: 18px;
	position: absolute;
	left: 25px;
	top: 2px;
	font-size: 12px;
}

.logInTools .remeber {
	position: absolute;
	left: 0px;
	top: 33px;
	font-size: 12px;
	width: 100%;
}

.logInTools .passwordtext {
	border: 1px;
	color: #959595;
	width: 120px;
	height: 18px;
	position: absolute;
	left: 195px;
	top: 2px;
	font-size: 12px;
}

.remeberlabel {
	position: absolute;
	left: 20px;
	top: 43px;
	width: 120px;
	font-size: 10px;
	font-weight: bold;
	color: #ffffff;
	line-height: 10px;
}

.welcome {
	position: absolute;
	left: 90px;
	top: 53px;
	width: 250px;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	line-height: 10px;
}

.header ul {
	list-style: none;
	padding: 0px 0px 0px 2px;
	margin: 0px;
	clear: both;
}

.header ul li {
	float: left;
}

.header-tabs {
	list-style: none;
	padding: 0px 0px 0px 2px;
	margin: 0px;
	clear: both;
	background: url("images/ui-bg_gloss-wave_50_6eac2c_500x100.png")
		repeat-x scroll 50% 50% #6EAC2C;
	border: 1px solid #ACDD4A;
}

.forgotpassword a {
	position: absolute;
	left: 194px;
	top: 47px;
	width: 120px;
	font-size: 10px;
	font-weight: bold;
	color: #ffffff;
	line-height: 10px;
}

ul.breadcrumb li {
	margin-right: 4px;
	font-size: 90.75%;
	position: relative;
	float: left;
	padding-top: 60px;
}

ul.breadcrumb li a {
	background: url(../images/spriteHeader.png) 100% 4px no-repeat;
	padding-right: 7px;
	color: #000000;
}

ul.nav {
	background: url(../images/spriteHeader.png) 0px -77px no-repeat;
	margin-bottom: 8px;
	padding: 0px;
	height: 48px;
}

ul.nav li {
	text-align: center;
	font-size: 106.25%;
}

ul.nav li a {
	padding-top: 13px;
	display: block;
	height: 35px;
}

ul.nav li a:hover {
	background: url(../images/spriteNavHoverStates.png) 50% 0px no-repeat;
}

ul.nav li:first-child a:hover {
	background: url(../images/spriteNavHoverStates.png) 0px 0px no-repeat;
}

ul.nav li.win a:hover {
	background: url(../images/spriteNavHoverStates.png) 100% 0px no-repeat;
}

ul.nav li a:hover {
	color: #252525;
}

ul.nav li.home a {
	width: 87px;
}

ul.nav li.inst a {
	width: 151px;
}

ul.nav li.draw a {
	width: 136px;
}

ul.nav li.bingo a {
	width: 84px;
}

ul.nav li.casino a {
	width: 93px;
}

ul.nav li.sport a {
	width: 79px;
}

ul.nav li.comm a {
	width: 125px;
}

ul.nav li.results a {
	width: 97px;
}

ul.nav li.win a {
	width: 114px;
}

/*
* Footer
*/
.footer {
	width: 100%;
	float: left;
	height: 20%;
	border-color: #E5E5E5;
	border-top-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-width: 1px;
	
}

.footer .column {
	padding-right: 12px;
	margin-bottom: 19px;
	width: 167px;
	float: left;
}

.footer .last {
	padding-right: 0px;
	width: 167px;
}

.footer h3 {
	padding-bottom: 11px;
	font-size: 81.25%;
	color: #ffffff;
}

.footer ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.footer ul li {
	line-height: 181.82%;
}

.footer ul li a {
	color: #0f0f0f;
}

.orgLinks li {
	border-left: 1px #294362 solid;
}

.twitter a {
	background: url(../images/spriteSocial.png) no-repeat;
	padding: 2px 0px 2px 26px;
	color: #000000;
}

.facebook a {
	background: url(../images/spriteSocial.png) 0px -49px no-repeat;
	padding: 2px 0px 2px 26px;
}

.share a {
	background: url(../images/spriteSocial.png) 0px -103px no-repeat;
	padding: 2px 0px 2px 26px;
}

.orgLinks {
	
}

.orgLinks p {
	padding-top: 4px;
	float: right;
	color: #0f0f0f;
}

.orgLinks ul {
	padding: 0px 0px 18px 0px;
	float: left;
}

.orgLinks li {
	padding-left: 8px;
	margin-left: 8px;
	line-height: 1em;
	float: left;
}

.orgLinks li:first-child {
	border: none;
	padding-left: 0px;
	margin-left: 0px;
}

/**Social SignUp images**/
.SocialSignUp {
	height: 100%;
}

.SignUpFaceBook {
	height: 50px;
	width: 150px;
	position: inherit;
	float: left;
	padding: 30px 10px 30px 30px;
}

.SignUpWindowsLive {
	height: 50px;
	width: 150px;
	float: right;
	position: inherit;
	padding: 30px 30px 30px 10px;
}

.SignUpGoogle {
	height: 50px;
	width: 150px;
	position: inherit;
	float: left;
	padding: 80px 10px 10px 30px;
}

.SignUpLinkedIn {
	height: 50px;
	width: 150px;
	position: inherit;
	float: right;
	padding: 80px 30px 10px 30px;
}

.white {
	color: #FFFFFF;
}

.text-center {
	text-align: center;
}