/*
	MAIN HOLDING DIVs
*/

body
{
    font-size: 12px;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
}



header, footer, nav, section
{
    display: block;
}

/**************************/
/* -- Basic HTML Rules -- */
/**************************/
/* - stop gap if only inline element in block level container - */
img, object, embed
{
    border: none;
}

html, body, div, pre, form, table, fieldset, h1, h2, h3, h4, h5, h6, dl, hr, p, blockquote
{
    margin: 0;
    padding: 0;
}

a img, :link img, :visited img, fieldset
{
    border: none;
    color: #FFFFFF;
}

.centered
{
    padding-left: 90px;
}

a, a:focus
{
    outline: none;
}

/* -- General Styles -- */
/* - give default font style - */
p input, p textarea, li input, p label
{
    font-size: 100%;
}

th dt, td dt, th dd, td dd, th li, td li, li li, dt dt, dt dd, dd dt, dd dd, legend legend
{
    font-size: 100%;
}

ul 
{
    font-size: 110%;
}

p, dl, ol, pre
{
    padding-bottom: 1em;
}

/* - table - */
table
{
    border-collapse: collapse;
    border: 1px solid #808080;
}

/* - table - */


td, th
{
    vertical-align: top;
    text-align: left;
}

#middle
{
    vertical-align: middle;
}


* html .contain
{
    /* nomac \*/
    height: 1%; /* nomac */
}

.contain
{
    display: block;
}

/* -- clear -- */
.clear
{
    clear: both;
}

.clearLeft
{
    clear: left;
}

.clearRight
{
    clear: right;
}

/* -- Page Wrap -- */
body
{
    text-align: left;
}

body #pageWrap
{
    text-align: left;
    margin: 0 auto;
}

/* -- Allows accessible code without changing the visual design -- */
label.access, .access, hr.access
{
    background-color: inherit;
    color: #ffffff;
    position: absolute;
    overflow: hidden;
    border: none;
    left: -10999px;
    width: 990px;
    height: 0px;
}

/* -- Standard Floating Functions --*/
.floatLeft
{
    float: left;
}

.floatRight
{
    float: right;
}


/*
 * Typography
 */
h1, h2, h3, h4, h5, h6
{
    font-family: tahoma, sans-serif;
    padding-bottom: 1em;
}

h1
{
    padding-bottom: 20px;
    font-size: 150%;
    color: #000000;
}

h2
{
    padding: 6px 0px 8px;
    font-weight: normal;
    line-height: 1em;
    font-size: 2em;
    background: #ffffff;
    color: #d63b52;
}



h3
{
    font-size: 22px;
    padding-bottom: 2em;
    background: #ffffff;
    color: #2f89bf;
    font-weight: bold;
    padding: 6px 0px 8px;
}

h4
{
    font-size: 10px;
    font-weight: 800;
}

h5, h6, pre, code, input, textarea, select
{
    font-size: 1em;
}

h7
{
    margin-top: 10%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 2px;
    font-size: 12px;
    color: #155BA2;
    font-weight: bold;
}

.header ul li
{
    color: #e1e1e1;
}

a
{
    color: #9E0016;
}

html, body, input, select, textarea
{
    font-family: arial, sans-serif;
}


p, dt, dd, label, address, th, td, legend, input, select, textarea
{
    line-height: 130%;
    font-size: 100%;
}

li
{
    line-height: 130%;
    padding-bottom: 10px;
    font-size: 81.25%;
    color: #707070;
}

a
{
    text-decoration: none;
}

span {
    margin-right: 0.3em;
}

.ui-icon {
	 float: left;
}

